#quote-box {
  margin: 0 auto;
  text-align: center; 
  width: 40%;
  padding: 20px;
  border-radius: 200px 200px;
  background-color: beige;
 padding: 15px;
 word-wrap: break-word;
}

#background {
  background-image: url("https://download.hipwallpaper.com/desktop/1600/900/45/82/bzJ4jF.jpg");
height: 100%;
  
}

#text {
  width: 95%;
  padding: 15px;
}

#new-quote  {
  margin: 4px;
}
